/*!Jardineria Joseba 2014 */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:hover,a:active {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

blockquote {
    margin: 1em 40px;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

ul,ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

ul li {
    list-style-type: square;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

body {
    background-color: #141414;
    color: #848484;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: .8em;
    font-weight: 200;
}

h2,h3,h4 {
    color: #F5F5F5;
    font-family: 'Futura Bold','futura-pt','Helvetica Neue',Helvetica,sans-serif;
    font-weight: 700;
    margin: 0 0 1em 0;
}

h3 {
    font-size: 3em;
    margin: 0 0 1em 0;
    text-align: center;
}

h4 {
    color: #848484;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}

b,strong {
    font-weight: 500;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover,a:active {
    color: #FFF;
    text-decoration: underline;
}

header {
    background: url('../images/header-01.jpg') no-repeat center center;
    -moz-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header-01.jpg',sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header-01.jpg',sizingMethod='scale');
}

header h1 {
    height: 225px;
    padding: 6%;
    margin: 0;
    width: 225px;
}

header h1 img {
    background-color: rgba(0,0,0,0.4);
}

header h2 {
    color: #FFF;
    font-size: 7em;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: .8em;
    padding: 6% 5% 10% 0;
    margin: 0 auto;
    max-width: 860px;
    text-align: right;
}

section#photos {
    font-family: 'Futura Bold','FuturaBold','futura-pt','Helvetica Neue',Helvetica,sans-serif;
    position: relative;
    text-align: center;
}

section#photos nav {
    left: 45%;
    position: absolute;
    bottom: 30%;
    z-index: 300;
}

section#photos nav li {
    float: left;
}

section#photos nav li a {
    background: url('../images/nav.png') no-repeat center 12px;
    display: block;
    height: 9px;
    padding: 13px 10px;
    text-indent: -9000px;
    width: 9px;
}

section#photos nav li a:hover,section#photos.dokus nav li#nav-dokus a,section#photos.kontribit nav li#nav-kontribit a,section#photos.splitabill nav li#nav-splitabill a {
    background-position: center -15px;
}

section#photos div.project {
    margin: 0 auto;
    padding: 0 0 1%;
}

section#photos div.project a {
    display: block;
}

section#photos img {
    margin-top: -5%;
    position: relative;
    width: 100%;
    z-index: 100;
}

section#photos h4 {
    font-size: 2.8em;
    font-weight: 600;
    margin: 0;
    padding: 0 4%;
}

section#photos p {
    font-size: 1.4em;
    margin: 1% 0 3% 0;
    padding: 0 6%;
    position: relative;
    z-index: 200;
}

section#photos div#project-dokus {
    background: #69B58A;
}

section#photos div#project-dokus img {
    max-width: 900px;
}

section#photos div#project-dokus img:hover {
}

section#photos div#project-dokus h4 {
    color: #FFF;
    margin-top: -4%;
    text-shadow: 0 1px 2px #010101;
}

section#photos div#project-dokus p {
    color: #010101;
    text-shadow: 0 1px 1px #3F9F6B;
}

section#photos div#project-kontribit {
    background: #F2F2F2;
}

section#photos div#project-kontribit img {
    margin: -2% 0 2%;
    max-width: 747px;
}

section#photos div#project-kontribit h4 {
    color: #010101;
    margin-top: -3%;
    text-shadow: 0 1px 1px #E3E3E3;
}

section#photos div#project-kontribit p {
    color: #010101;
    text-shadow: 0 1px 1px #E3E3E3;
}

section#photos div#project-splitabill {
    background: #6990AC;
}

section#photos div#project-splitabill img {
    margin: -2% 0 2%;
    max-width: 375px;
}

section#photos div#project-splitabill h4 {
    color: #010101;
    margin-top: -4%;
    text-shadow: 0 1px 1px #999;
}

section#photos div#project-splitabill p {
    color: #FFF;
    text-shadow: 0 1px 1px #010101;
}

section#services {
    max-width: 860px;
    margin: 5% auto 8%;
    padding: 0 5%;
}

section#services p {
    font-size: 1.2em;
    text-align: center;
}

section#services h4:not(:first-child) {
    margin-top: 5%;
}

section#services ul {
    margin: 0 auto;
    max-width: 400px;
    padding: 0;
}

section#services ul li {
    display: inline;
    list-style: none;
}

section#services ul li a {
    background: url('../images/services.png') no-repeat left top;
    display: block;
    float: left;
    height: 73px;
    margin-right: 20px;
    opacity: .4;
    text-indent: -9000px;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

section#services ul li.client-comoyo a {
    width: 102px;
}

section#services ul li.client-epla a {
    background-position: -120px top;
    width: 75px;
}

section#services ul li.client-kf a {
    background-position: -215px top;
    width: 70px;
}

section#services ul li.client-tf a {
    background-position: -305px top;
    margin-right: 0;
    width: 64px;
}

section#services ul li a:hover {
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

section#about {
    margin: 0 auto;
    max-width: 860px;
    padding: 0 2%;
    text-align: center;
}

section#about p.company-about {
    color: #F5F5F5;
    line-height: 1.5em;
    font-size: 1.8em;
    margin: 0 auto 2em;
    max-width: 780px;
    padding: 0 4%;
}

section#about div.persons {
    float: left;
    margin: 0 auto;
    max-width: 430px;
}

section#about p.person {
    float: left;
    height: 300px;
    margin: 0 15px 0 0;
    text-align: left;
    width: 200px;
}

section#about p.person img {
    display: block;
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
}

footer {
    background-color: #000;
    color: #DFD3D3;
    text-align: center;
    margin: 5% 0 0 0;
    padding: 5% 2%;
}

footer a {
    color: #C0C0C0;
}

footer p.contact {
    color: #F5F5F5;
    font-family: 'Futura Bold','futura-pt','Helvetica Neue',Helvetica,sans-serif;
    font-size: 1.8em;
}

footer p.contact a {
    color: #F5F5F5;
}

footer p.contact a.email {
    margin-right: 12px;
}

footer p.info-organization {
    line-height: 1.5em;
}

footer p.social {
    margin: 3% auto;
    max-width: 250px;
}

footer p.social a {
    display: block;
    float: left;
    text-indent: -9000px;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

footer p.social a.social-pinterest {
    background: url('../media/images/pinterest_logo_red.png') no-repeat left top;
    height: 50px;
    width: 130px;
    background-size: 100% 100%;
    opacity: .8;
}

footer p.social a.social-facebook {
    background: url('../media/images/facebook_t.png') no-repeat left top;
    height: 30px;
    width: 104px;
    margin-top: 12px;
    opacity: .6;
}

footer p.social a:hover {
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.clear {
    clear: both;
}

section.text {
    color: #F5F5F5;
    font-size: 1.2em;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 2%;
}

.navbar-default .navbar-nav > li:hover {
    background-color: #777777;
}

::selection {
    background-color: rgba(255,255,255,0.9);
    color: #010101;
}

::-moz-selection {
    background-color: rgba(255,255,255,0.9);
    color: #010101;
}

@media screen and (max-width:920px) {
    header h1 img {
        width: 55%;
    }

    header h2 {
        font-size: 4em;
        max-width: 560px;
    }

    section#about div.persons {
        float: none;
    }
}

@media screen and (max-width:480px) {
    h3 {
        font-size: 2em;
    }

    header h1 {
        height: auto;
        padding: 2%;
        width: auto;
    }

    header h1 img {
        width: 25%;
    }

    header h2 {
        font-size: 3em;
        max-width: 400px;
    }

    section#photos h4 {
        font-size: 2em;
    }

    section#photos div#project-splitabill img {
        max-width: 231px;
    }

    section#services ul {
        max-width: 220px;
    }

    section#services h4 {
        font-size: 1.5em;
    }

    section#services ul li.client-kf a {
        margin-right: 50px;
    }

    section#about p.company-about {
        font-size: 1.3em;
    }

    section#about p.person {
        float: none;
        margin: 0 auto;
    }
}