.navbar-default {
    background-color: #674677;
    border-color: #674677;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #008d1c;
}
.navbar-default .navbar-nav > li:hover {
    /*background-color: #E4C0CA;*/
}
.navbar-default .navbar-nav > li > a {
    color: #e3ebee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #008d1c;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    # background-color: #439757;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #a5cac2;
    background-color: #c98096;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #a5cac2;
    border-bottom-color: #a5cac2;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #a5cac2;
    border-bottom-color: #a5cac2;
}
.navbar-default .navbar-toggle {
    border-color: #c98096;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c98096;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}